[Desktop Entry]
Type=Application
Name=Mcaster1DAWCast
GenericName=Digital Audio Workstation
Comment=Multi-Channel DAW for Broadcasting, Webcasting, Podcasting & Video Editing
Exec=mcaster1dawcast %F
Icon=mcaster1dawcast
Terminal=false
Categories=AudioVideo;Audio;Video;Recorder;Sequencer;
MimeType=application/x-dawcast;audio/mpeg;audio/ogg;audio/flac;audio/wav;audio/aac;video/mp4;video/x-matroska;video/webm;
Keywords=daw;audio;video;broadcast;podcast;recording;editing;mixer;
StartupNotify=true
